.wrapper {
  height: 100%;
  padding: 10px 0;

  * {
    word-break: break-all;
  }


  .contentWrapper {
    padding: 0 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    overflow-y: auto;
  }


  .aboutWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      width: 100%;
      line-height: 2;
    }

    button {
      padding: 0;
      margin: 0 6px;
      height: auto !important;
    }
  }
}

p {
  margin: 0;

  b {
    color: #007bff;
  }
}

.logo {
  margin-top: 20px;
  width: 120px;
  height: 120px;
  box-shadow:  0 2px 12px 0 rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

.name, .hezebinName {
  font-weight: bold;
  font-size: 20px;
}

.name, .version, p, .hezebinName, .funcList {
  margin-top: 16px !important;
}

.funcList {
  display: flex;
  flex-direction: column;
  gap: 6px;

  div {
    //font-weight: bold;
    font-size: 13px;
    color: var(--func-color);
    line-height: 2;
  }
}

.version {
  font-size: 16px;
  font-weight: bold;
}

.hezebinLogo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow:  0 2px 12px 0 rgba(0, 0, 0, 0.4);
}

